body {
	margin: 0;
  padding: 0;
  background-size: cover;
  width: 100%;
  font-family: 'Assistant', sans-serif;
}
header {
	background-color: #3b5998;
	color: white;
	height: 100px;
	width: 100%;
}
#signInForm {
	position: relative;
	left: 675px;
	top: -25px;
	font-size: 13px;
	font-weight: bold;
}
#title {
	font-weight: bold;
	font-size: 40px;
	color: white;
	position: relative;
	top: 40px;
	left: 200px;
}
#forgot {
	position: relative;
	font-size: 13px;
	left: 855px;
	top: -32px;
}
button {
	background-color: #3b5998;
	color: white;
	font-weight: bold;
	font-size: 12px;
	border-top: 2px solid #000040;
	border-left: 1px solid #000040;
	border-right: 1px solid #000040;
	border-bottom: 1px solid #000040;
	border-radius: 2px;
}